---
---
/*
 * Main.css
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-1: #100F0A;
  --color-primary-2: #2E2D23;
  --color-primary-3: #514F40;
  --color-primary-4: #76735E;
  --color-primary-5: #949280;
  --color-primary-6: #B2B0A3;
  --color-primary-7: #E3E2DB;
  --color-primary-8: #F6F5EE;

  --color-border: #0b0a1014;
  
  --col-width: 80px;
  --gap-width: 20px;
  --container-width: 580px;

  --weight-medium: 550;
}

@font-face {
  font-family: "GeistMono";
  src: url("/assets/fonts/GeistMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-primary-1);
  background-color: var(--color-primary-8);
  font-family: "GeistMono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
}

p,
.body-1 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -.1px;
  font-weight: 420;

  &.-bold {
    font-weight: var(--weight-medium);
  }
}

.body-2 {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 440;
  letter-spacing: -.1px;

  &.-bold {
    font-weight: var(--weight-medium);
    letter-spacing: -.3px;
  }
}

p a,
.link {
  border-bottom: 1px dotted;
  font-weight: var(--weight-medium);

  &:hover {
    opacity: .7;
  }
}

a {
  color: var(--color-primary-1);
  text-decoration: none;
}

.heading-2 {
  font-size: 20px;
  letter-spacing: -.2px;
  line-height: 24px;
  font-weight: 550;
}

.-color-secondary {
  color: var(--color-primary-5);
}

.button-label {
  @extend .body-2;
  font-weight: 450;
  color: var(--color-primary-1);
  border: 1px solid var(--color-primary-1);
  border-radius: 20px;
  padding: 0 .5rem;

  &:hover {
    opacity: .6;
  }
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + 2rem);
  margin-inline: auto;
  padding-inline: 1rem;
}

.grid {
  display: grid;
  grid-gap: var(--gap-width);
  grid-template-columns: calc(
    calc(var(--col-width) * 2) + var(--gap-width))
    1fr;
}

.grid .col-2 {
  grid-column: 2;
}

/*
 * Header
 */
.site-header {
  align-items: end;
  margin-bottom: 2.5rem;

  h1 {
    margin-bottom: .25rem;
  }
}

.avatar-wrapper {
  padding: 0 4px 4px 4px;
  border: 1px dotted var(--color-primary-6);
  border-top: 0;
  display: flex;
  width: fit-content;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.avatar {
  width: 100px;
  height: 140px;
  object-fit: cover; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*
 * Content
 */
.main-content {
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding-top: 0.5rem;
  }

  .content p + p {
    margin-top: .5rem;
  }
}

/* 
 * Notes
 */
section.notes {
  padding: 2.5rem 0;

  .section-title {
    margin-bottom: 1.25rem;
  }

  ol {
    list-style: none;

    li {
      position: relative;
    }

    li:not(:first-child)::before {
      content: "*";
      font-weight: var(--weight-medium);
      font-size: 1.25rem;
      position: absolute;
      top: 3px;
      left: -1.25rem;
    }
  }

  a {
    display: block;
    border: none;

    &:hover {
      opacity: 1;
    }
  }

  .note-title {
    display: inline-block;
    margin-bottom: .75rem;
    border-bottom: 1px dotted;
  }

  .note-content-wrapper {
    p {
      @extend .body-2;
    }

    p:not(:first-child) {
      text-indent: .5rem;
    }

    p + p {
      margin-top: .5rem;
    }
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;

    .col-2 {
      grid-column: 1;
    }
  }

  .site-header {
    display: flex;
  }

  .main-content {
    .social-links {
      flex-direction: row;
      padding-top: 1rem;
      order: 2;
    }
  }

  section.notes {
    ol li:not(:first-child) {
      margin-left: 1rem;
    }
  }
}